[core]
	editor = vim

[user]
	name = Arjun Sreedharan
	email = arjun024@gmail.com
[includeIf "gitdir:~/workspace/"]
	path = .gitconfig-work

[sendemail]
	smtpuser = arjun024@gmail.com
	# Not sure if this is smtp.gmail.com now
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
	suppresscc = self

[color]
	ui = auto
[alias]
       st = status
       ci = duet-commit
       co = checkout
